body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  height: 100%;
  width: 100%;
  font: inherit;
  vertical-align: baseline;

  display: flex;
  flex-direction: row;
}

@font-face {
  font-family: NightAdvisorTitle;
  src: url("/font/arcades/Arcades.woff");
}

.left-side {
  display: flex;
  flex-direction: column;
  background-image: url("./images/pexels-marlene-leppänen-12529340.jpg");
  background-size: cover;
  background-position: center;
  color: white;

  display: flex;
  flex-direction: column;
}

.right-side {
  background-color: #faf4f1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container {
  height: 150px;
  background: black;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title {
  font-family: "NightAdvisorTitle", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 6rem;
  padding: 15px;
}

.photo-credits {
  margin-top: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-credits a {
  text-decoration: none;
  color: white;
  margin-left: 4px;
}

header {
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header-quote {
  font-style: italic;
  font-size: 1.6rem;
}

#header-title {
  font-size: 1.6rem;
  font-weight: bold;
}

main {
}

form {
  background-color: white;
  border: 1px solid #d6d9dc;
  -webkit-box-shadow: 5px 5px 18px 3px #000000;
  box-shadow: 5px 5px 18px 3px #000000;
  padding: 50px;

  display: flex;
  flex-flow: row wrap;
}

.form-row {
  margin: 0 60px 30px 0;
  display: flex;
  flex-direction: column;
}

input {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 350px;
  padding: 7px;
  font-size: 1.1rem;
  transition: border-color 1.3s ease;
}

input:focus {
  outline: none;
  border: 2px solid #cb3a1d;
  box-shadow: 0 0 5px rgba(203, 58, 29, 0.5);
}

#error {
  color: red;
}

footer {
  display: flex;
  flex-direction: column;
}

footer button {
  background-color: black;
  color: #cb3a1d;
  font-size: 1.9rem;
  font-weight: bold;
  cursor: pointer;
  border: 5px solid #cb3a1d;
  border-radius: 10px;
  width: 350px;
  height: 100px;
  margin-left: 65px;
}

footer button:hover {
  background-color: #cb3a1d;
  color: black;
  border: 5px solid black;
}

footer p {
  margin-left: 65px;
}

footer a {
  text-decoration: none;
  color: #cb3a1d;
  font-weight: bold;
}
